<div class="details">
    <img src="/assets/Spider Man.png">
    <div class="details2">
        <h1>Title: Spider-Man: Into The Spider-Verse</h1>
        <p>	Directed by: Bob Persichetti, Peter Ramsey & Rodney Rothman</p>
        <p>Description: Teen Miles Morales becomes the Spider-Man of his universe, and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.</p>
        <p>Rating: 8.4</p>
        <p>Duration: 1h 57min</p>
        <p>Genre: Action, Animation, Adventure</p>
        <p>Released date: 14 December, 2018</p>
    </div>
</div>
<iframe width="400" height="315"
    src="https://www.youtube.com/embed/tg52up16eq0">
</iframe>
<br/>
