<div class="details">
    <img src="/assets/Guardians of The Galaxy.png">
    <div class="details2">
        <h1>Title: Guardians of The Galaxy</h1>
        <p>Directed by: James Gunn</p>
        <p>Description: A group of intergalactic criminals must pull together to stop a fanatical warrior with plans to 
            purge the universe.
        </p>
        <p>Rating: 8</p>
        <p>Duration: 2h 1min</p>
        <p>Genre: Action, Adventure, Comedy</p>
        <p>Released date: 1 August, 2014</p>
    </div>
</div>
<iframe width="400" height="315"
    src="https://www.youtube.com/embed/d96cjJhvlMA ">
</iframe>
