<div class="details">
    <img src="/assets/Knives Out.png">
    <div class="details2">
        <h1>Title: Knives Out</h1>
        <p>Directed by: Rian Johnson</p>
        <p>Description: A detective investigates the death of a patriarch of an eccentric, combative family.</p>
        <p>Rating: 7.9</p>
        <p>Duration: 2h 10min</p>
        <p>Genre: Comedy, Crime, Drama</p>
        <p>Released date: 27 November, 2020</p>
    </div>
</div>
<iframe width="400" height="315"
    src="https://www.youtube.com/embed/qGqiHJTsRkQ">
</iframe>
