<div class="details">
    <img src="/assets/Avengers.png">
    <div class="details2">
        <h1>Title: Avengers: Age of Ultron</h1>
        <p>Directed by: Joss Whedon</p>
        <p>Description: When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program 
        called Ultron, things go horribly wrong and it's up to Earth's mightiest heroes to stop the villainous Ultron 
        from enacting his terrible plan. </p>
        <p>Rating: 7.3</p>
        <p>Duration: 2h 21min</p>
        <p>Genre: Action, Adventure, Sci-Fi</p>
        <p>Released date: 1 May, 2015</p>
    </div>
</div>
<iframe width="400" height="315"
    src="https://www.youtube.com/embed/tmeOjFno6Do">
</iframe>
<br/>
