<div class="details">
    <img src="/assets/Tenet.png">
    <div class="details2">
        <h1>Title: Tenet</h1>
        <p>Directed by: Christopher Nolan</p>
        <p>Description: Teen Miles Morales becomes the Spider-Man of his universe, and must join with five spiderpowered individuals from other dimensions to stop a threat for all realities.</p>
        <p>Rating: 7.8</p>
        <p>Duration: 2h 30min</p>
        <p>Genre: Action, Sci-Fi</p>
        <p>Released date: 14 December, 2020</p>
    </div>
</div>
<iframe width="400" height="315"
    src="https://www.youtube.com/embed/LdOM0x0XDMo">
</iframe>
