.details {
    display: flex;
    align-items: center;
}
.details img {
    margin-right: 10px;
    display: block;
    width: 150px;
    height: 300px;
    flex-basis: 20%;
}
.details2 {
    padding-left:20px;
}
.details2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}
.details2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
}